[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = TH
ST = Bangkok
O = CA
CN = CA

[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost

[v3_ca]
basicConstraints = CA:TRUE
